Repository MicrosoftDocs/fabric-docs, pull requests merged in 2023-11, with the labels that each got.

#319 Update tutorial-sql-cross-warehouse-query-editor.md
  docs/data-warehouse/tutorial-sql-cross-warehouse-query-editor.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#338 Update semantic-link-validate-data.md
  docs/data-science/semantic-link-validate-data.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc, event-triaged-to-10AM, missed-content-complete

#339 Update licenses.md
  docs/enterprise/licenses.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc, event-triaged-to-10AM, missed-content-complete

#343 Added fourth, missing, Eventstream destination
  docs/real-time-analytics/event-streams/overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-analytics/subsvc

#358 Minor changes, Adding description to missing endpoints for DE and updating grammar to be consistent.
  docs/cicd/partners/partner-integration.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, cicd/subsvc

#287 added info about onelake encryption
  docs/onelake/onelake-security.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#371 add spark 3.4 for synapse
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#380 custom-app destination does not ingest but egress data
  docs/real-time-analytics/event-streams/add-manage-eventstream-destinations.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-analytics/subsvc
