Repository MicrosoftDocs/fabric-docs, pull requests merged in 2023-09, with the labels that each got.

#190 Fix typo in tutorial-end-to-end-dataflow.md
  docs/data-factory/tutorial-end-to-end-dataflow.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-factory/subsvc

#201 Update admin-center.md
  docs/admin/admin-center.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, admin/subsvc

#198 Update scale-capacity.md
  docs/enterprise/scale-capacity.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#235 Update tutorial-lakehouse-data-preparation.md
  docs/data-engineering/tutorial-lakehouse-data-preparation.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#247 AddNewCopyWay
  docs/data-engineering/how-to-use-notebook.md
  docs/data-engineering/media/how-to-use-notebook/create-and-send-link.png
  docs/data-engineering/media/how-to-use-notebook/manage-permissions-in-workspace.png
  docs/data-engineering/media/how-to-use-notebook/open-share-notebook-popup.png
  docs/data-engineering/media/how-to-use-notebook/select-permissions.png
  docs/data-engineering/microsoft-spark-utilities.md
Labels: ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#244 Update service-admin-portal-integration.md
  docs/admin/service-admin-portal-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, powerbi-admin/subsvc, powerbi/svc

#236 Public documentation update for fabric capacity metrics app V1.2
  docs/enterprise/metrics-app-install.md
  docs/enterprise/metrics-app-onelake-page.md
  docs/enterprise/metrics-app-overview-page.md
  docs/enterprise/metrics-app-timepoint-page.md
  docs/enterprise/metrics-app.md
Labels: ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc
