Repository MicrosoftDocs/fabric-docs, pull requests merged in 2023-08, with the labels that each got.

#131 AddMoreNotesForMsutils
  docs/data-engineering/index.yml
  docs/data-engineering/microsoft-spark-utilities.md
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#140 Update minimum gateway version to 3000.182.5
  docs/data-factory/known-issue-gateway.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-factory/subsvc

#94 Update onelake-onecopy-quickstart.md
  docs/onelake/onelake-onecopy-quickstart.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#182 Update retail-recommend-model.md
  docs/data-science/retail-recommend-model.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-science/subsvc

#161 Update onelake-shortcuts.md
  docs/onelake/onelake-shortcuts.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc
