Repository MicrosoftDocs/fabric-docs, pull requests merged in 2023-07, with the labels that each got.

#81 Typo "Azure OpenAI service"→"Azure OpenAI Service"
  docs/data-science/open-ai.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-science/subsvc

#53 Update navigate-lakehouse-explorer.md
  docs/data-engineering/navigate-lakehouse-explorer.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#57 Make description consistent with image and way it works
  docs/onelake/get-started-security.md
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#69 Update setup-vs-code-extension.md
  docs/data-engineering/setup-vs-code-extension.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#29 Update monitoring-hub.md
  docs/admin/monitoring-hub.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc

#89 Suggested change to ADLS authentication kinds
  docs/onelake/onelake-shortcuts.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#109 Updated text on Activity Details page
  docs/admin/feature-usage-adoption.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc

#114 Update onelake-mirroring.md
  docs/real-time-analytics/onelake-mirroring.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, real-time-analytics/subsvc
