Repository MicrosoftDocs/fabric-docs, pull requests merged in 2023-05, with the labels that each got.

#14 Update author-notebook-with-vs-code.md
  docs/data-engineering/author-notebook-with-vs-code.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#11 Updated considerations and limitations
  docs/admin/feature-usage-adoption.md
  docs/admin/monitoring-workspace.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc, review-team-triage

#12 Remove "the tables part" - load to tables not supported yet
  docs/data-engineering/lakehouse-and-delta-tables.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#16 Update tutorial-sql-cross-warehouse-query-editor.md
  docs/data-warehouse/tutorial-sql-cross-warehouse-query-editor.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc
