Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-07, with the labels that each got.

#928 fix: swap wrong relative links
  docs/get-started/direct-lake-overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, powerbi/svc, powerbi-premium/subsvc

#922 fix: fix wrong masking type count
  docs/data-warehouse/dynamic-data-masking.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#930 Update comparison-between-fabric-and-azure-synapse-spark.md
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#920 Update api-graphql-editor.md
  docs/data-engineering/api-graphql-editor.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#937 Update workspaces-folders.md
  docs/get-started/workspaces-folders.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#941 Update real-time-intelligence-compare.md
  docs/real-time-intelligence/real-time-intelligence-compare.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-intelligence/subsvc

#950 Update lifecycle.md
  docs/data-engineering/lifecycle.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#933 Include instructions for connecting to Azure SQL Database
  docs/workload-development-kit/fabric-data-plane.md
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, workload-development-kit/subsvc

#962 Update throttling.md -- Extra Space
  docs/enterprise/throttling.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#965 Update change-ownership.md
  docs/data-warehouse/change-ownership.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#979 Update notebook-public-api.md
  docs/data-engineering/notebook-public-api.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#988 Update security-managed-private-endpoints-overview.md
  docs/security/security-managed-private-endpoints-overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#925 Fix memory sizes for Spark Nodes
  docs/data-engineering/spark-compute.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc
