Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-06, with the labels that each got.

#821 update support resources
  docs/workload-development-kit/faq.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc

#823 Update authentication-tutorial.md
  docs/workload-development-kit/authentication-tutorial.md
Labels: do-not-merge, Change sent to author, fabric/svc

#820 Update authentication-tutorial.md
  docs/workload-development-kit/authentication-tutorial.md
Labels: do-not-merge, Change sent to author, fabric/svc

#826 Update fabric-features.md
  docs/enterprise/fabric-features.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#824 chore: Update image source in authentication tutorial
  docs/workload-development-kit/authentication-tutorial.md
  docs/workload-development-kit/media/authentication-tutorial/configure-local-workload-manifest-xml.png
  docs/workload-development-kit/media/authentication-tutorial/configure-workload-env-dev.png
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc

#836 Triathlete18 patch 1
  docs/database/mirrored-database/snowflake-mirroring-faq.yml
Labels: ready-to-merge, needs-human-review, Change sent to author, fabric/svc

#819 Update workload-environment.md with NuGet structure
  docs/workload-development-kit/workload-environment.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc

#854 bugfix SparkSQL to process as multiple statements
  docs/data-engineering/native-execution-engine-overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#843 Update extensibility-front-end.md
  docs/workload-development-kit/extensibility-front-end.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc

#861 Update fabric-features.md
  docs/enterprise/fabric-features.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#871 Update tenant settings
  docs/workload-development-kit/extensibility-front-end.md
  docs/workload-development-kit/media/extensibility-front-end/tenant-switch.png
Labels: do-not-merge, needs-human-review, Change sent to author, fabric/svc

#875 Clarify use of DFS for StorageID
  docs/security/security-trusted-workspace-access.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#882 Update runtime-1-2.md
  docs/data-engineering/runtime-1-2.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#876 Update security-overview.md
  docs/security/security-overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#892 Update metrics-app-install.md
  docs/enterprise/metrics-app-install.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#895 Update open-ai.md (Typo "Azure Open AI"→"Azure OpenAI")
  docs/data-science/open-ai.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-science/subsvc

#886 Update copilot-privacy-security.md
  docs/get-started/copilot-privacy-security.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#786 Fix typo in native-execution-engine-overview.md
  docs/data-engineering/native-execution-engine-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#869 Update fabric-terminology.md
  docs/get-started/fabric-terminology.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc
