Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-01, with the labels that each got.

#434 Update delta-lake-interoperability.md
  docs/get-started/delta-lake-interoperability.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#451 Update author-execute-notebook.md
  docs/data-engineering/author-execute-notebook.md
Labels: ready-to-merge, qualifies-for-auto-merge

#464 fix typo + note on missing link for someone to fix.
  docs/data-warehouse/semantic-models.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#477 addanote
  docs/data-engineering/notebook-public-api.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#469 Update tutorial-2-event-streams.md
  docs/real-time-analytics/tutorial-2-event-streams.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-analytics/subsvc

#481 [Work in Progress] Updating the documentation with latest updates on APIs
  docs/cicd/partners/partner-integration.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, cicd/subsvc

#497 fixed spelling error r-use-sparkr.md
  docs/data-science/r-use-sparkr.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-science/subsvc

#459 Remove %%configure warning (now supported)
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#513 Update tutorial-power-bi-report.md
  docs/data-warehouse/tutorial-power-bi-report.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#509 %describe is oneline and only one % needed.
  docs/get-started/copilot-notebooks-chat-magics.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc
