Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-12, with the labels that each got.

#1309 Update graphql-faq.yml
  docs/data-engineering/graphql-faq.yml
Labels: ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1314 Remove snowflake FAQ in Open Mirroring FAQ
  docs/database/mirrored-database/open-mirroring-faq.yml
Labels: ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#1268 Update lakehouse-sql-analytics-endpoint.md
  docs/data-engineering/lakehouse-sql-analytics-endpoint.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1311 Better solution for scenario 1
  docs/get-started/decision-guide-data-store.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1340 removed 'Update OneLake DFS base URL' step. This is not required to run base code of workload sample
  docs/workload-development-kit/quickstart-sample.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, workload-development-kit/subsvc

#1360 SQL DB Native - Update regional availability hyperlink
  docs/database/sql/faq.yml
Labels: ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, database/subsvc

#1374 Update gcs-shortcut.md to fix the typo in "Hi Guys!! There is a typo …
  docs/includes/gcs-shortcut.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc

#1376 Update intro-to-deployment-pipelines.md
  docs/cicd/deployment-pipelines/intro-to-deployment-pipelines.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, cicd/subsvc

#1381 Update fabric-allow-list-urls.md
  docs/security/fabric-allow-list-urls.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#1388 Remove reference to preview as the feature is now GA
  docs/database/mirrored-database/azure-sql-database-tutorial.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, database/subsvc

#1413 Update supported-sources-enhanced.md
  docs/real-time-intelligence/event-streams/includes/supported-sources-enhanced.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, rti-eventstream/subsvc
