Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-11, with the labels that each got.

#1238 Azure PostgreSQL Flexible Server resource ID
  docs/security/security-managed-private-endpoints-create.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#1258 Update frontend-manifests.md
  docs/workload-development-kit/frontend-manifests.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, workload-development-kit/subsvc

#1024 Update ai-skill-scenario.md
  docs/data-science/ai-skill-scenario.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc

#1183 ✨ Update read-write-pandas.md
  docs/data-science/read-write-pandas.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc

#736 Update tutorial-data-science-create-report.md
  docs/data-science/tutorial-data-science-create-report.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc

#1273 Update CURD to CRUD in notebook-public-api.md
  docs/data-engineering/notebook-public-api.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#1275 Update cost-estimation-from-azure-data-factory-to-fabric-pipeline.md
  docs/data-factory/cost-estimation-from-azure-data-factory-to-fabric-pipeline.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-factory/subsvc

#1292 Update service-admin-portal-help-support.md
  docs/admin/service-admin-portal-help-support.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, admin/subsvc

#1304 Update fabric-features.md as Managed Private Endpoints are available for all Fabric SKUs and not restricted to F64 and above SKUs
  docs/enterprise/fabric-features.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc
