Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-04, with the labels that each got.

#651 Add workspace identity link
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#630 Update lakehouse-streaming-data.md
  docs/data-engineering/lakehouse-streaming-data.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#692 Update one-logical-copy.md
  docs/real-time-analytics/one-logical-copy.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-analytics/subsvc

#691 Update onelake-shortcuts.md
  docs/real-time-analytics/onelake-shortcuts.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-analytics/subsvc

#706 Added gifs to feature usage and adoption and monitoring workspace document
  docs/admin/feature-usage-adoption.md
  docs/admin/media/feature-usage-adoption/analysis-drill-through-option.gif
  docs/admin/media/monitoring-workspace/install-admin-monitoring-workspace.gif
  docs/admin/monitoring-workspace.md
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc

#714 Update external-data-sharing-overview.md
  docs/governance/external-data-sharing-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, governance/subsvc

#728 Update portal-workspaces.md
  docs/admin/portal-workspaces.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, admin/subsvc
