Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-03, with the labels that each got.

#591 add managed vnet and priv link
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#580 Update mssparkutils doc for adding Lakehouse utilities
  docs/data-engineering/microsoft-spark-utilities.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#623 Update workspace-identity.md
  docs/security/workspace-identity.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, security/subsvc

#637 Update notebook-visualization.md
  docs/data-engineering/notebook-visualization.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#646 Typo
  docs/enterprise/licenses.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, enterprise/subsvc

#642 Removing PK FK guidance as not relevant to Warehouse in Fabric
  docs/data-warehouse/guidelines-warehouse-performance.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc
