Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-08, with the labels that each got.

#1010 Update service-admin-portal-users.md
  docs/admin/service-admin-portal-users.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc

#976 Update spark-compute.md
  docs/data-engineering/spark-compute.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1015 Adding a reference article
  docs/data-warehouse/v-order.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#993 Please add information about (default) role being required as pre-requisite for Mirroring to work. The phrase I added is just a proposal.
  docs/database/mirrored-database/snowflake-tutorial.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, database/subsvc

#1036 Update table-constraints.md
  docs/data-warehouse/table-constraints.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#1026 Update data-activator-trigger-power-automate-flows.md
  docs/data-activator/data-activator-trigger-power-automate-flows.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-activator/subsvc

#1043 Update tutorial-data-science-train-models.md
  docs/data-science/tutorial-data-science-train-models.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc

#1053 Update troubleshoot-cicd.md
  docs/cicd/troubleshoot-cicd.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, cicd/subsvc

#1057 Update slowly-changing-dimension-type-two.md
  docs/data-factory/slowly-changing-dimension-type-two.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-factory/subsvc

#1062 change old naming to Service principals can use Fabric APIs for consitency with Fabric
  docs/admin/service-admin-portal-developer.md
  docs/database/mirrored-database/azure-sql-database-tutorial.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, database/subsvc

#1077 Update outlook-activity.md
  docs/data-factory/outlook-activity.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-factory/subsvc

#1076 Update teams-activity.md
  docs/data-factory/teams-activity.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-factory/subsvc
