Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-09, with the labels that each got.

#1041 Update tutorial-lakehouse-build-report.md
  docs/data-engineering/tutorial-lakehouse-build-report.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1102 Rename remaining spark.gluten.enabled to spark.native.enabled
  docs/data-engineering/native-execution-engine-overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#1122 Quick review
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1135 Update tutorial-4-create-dashboard.md
  docs/real-time-intelligence/tutorial-4-create-dashboard.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, real-time-intelligence/subsvc

#1139 Update onelake-consumption.md
  docs/onelake/onelake-consumption.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#1145 Update links to sample repository with alias
  docs/workload-development-kit/quickstart-sample.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, workload-development-kit/subsvc

#1120 Update event-house-onelake-availability.md
  docs/real-time-intelligence/event-house-onelake-availability.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-intelligence/subsvc

#1138 Update tutorial-2-get-real-time-events.md
  docs/real-time-intelligence/media/tutorial/kql-database-details.png
  docs/real-time-intelligence/tutorial-2-get-real-time-events.md
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, real-time-intelligence/subsvc

#1068 Update ai-skill-scenario.md
  docs/data-science/ai-skill-scenario.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc

#1153 fix typo in runtime version
  docs/data-engineering/runtime-1-3.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#1152 Added tinyint and geography as unsupported types.
  docs/data-warehouse/data-types.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-warehouse/subsvc

#1156 Added more emphasis on needing to use the ALTER TABLE statement
  docs/data-warehouse/table-constraints.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-warehouse/subsvc

#1157 Added information about Data Compaction
  docs/data-warehouse/guidelines-warehouse-performance.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-warehouse/subsvc

#1154 update interop as of 09242024
  docs/get-started/delta-lake-interoperability.md
Labels: ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1162 Update data-types.md copyedit - change "doesn't" to "don't"
  docs/data-warehouse/data-types.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-warehouse/subsvc
