Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-05, with the labels that each got.

#743 Update description in Mirroring Snowflake section
  docs/database/mirrored-database/snowflake.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc

#732 Update comparison-between-fabric-and-azure-synapse-spark.md
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#758 Update security-overview.md
  docs/security/security-overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, event-triaged-to-10AM, missed-content-complete, security/subsvc

#788 Update use-microsoft-purview-hub.md
  docs/governance/use-microsoft-purview-hub.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, governance/subsvc

#772 Update data-activator-limitations.md
  docs/data-activator/data-activator-limitations.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-activator/subsvc

#803 Update r-fraud-detection.md
  docs/data-science/r-fraud-detection.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-science/subsvc

#804 Update fabric-features.md
  docs/enterprise/fabric-features.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, enterprise/subsvc
