Repository MicrosoftDocs/fabric-docs, pull requests merged in 2024-02, with the labels that each got.

#536 Update microsoft-spark-utilities.md
  docs/data-engineering/microsoft-spark-utilities.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#551 Fixed typo in runtime.md
  docs/data-engineering/runtime.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#562 updateNote
  docs/data-engineering/author-execute-notebook.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc
