Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-09, with the labels that each got.

#2207 Added missing word
  docs/onelake/onelake-shortcuts.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc, event-triaged-to-10AM, missed-content-complete

#2222 Update fabric-trial.md
  docs/fundamentals/fabric-trial.md
Labels: ready-to-merge, Change sent to author, fabric/svc, get-started/subsvc

#2244 Update security-workspace-level-private-links-support.md
  docs/security/security-workspace-level-private-links-support.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#2249 Update prerequisites for Power BI alerts
  docs/real-time-intelligence/data-activator/activator-get-data-power-bi.md
Labels: do-not-merge, Change sent to author, fabric/svc, rti-activator/subsvc

#2205 Update metrics-app-install.md
  docs/enterprise/metrics-app-install.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, inactive
