Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-05, with the labels that each got.

#1792 Update lakehouse-schemas.md
  docs/data-engineering/lakehouse-schemas.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#1771 Update fabric-quotas.md
  docs/enterprise/fabric-quotas.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#1794 Update workspace-roles-lakehouse.md
  docs/data-engineering/workspace-roles-lakehouse.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#1799 fixed endpoint url
  docs/data-engineering/open-source-apis.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1751 Update Feedback URL for Fabric Community forum from Azure Synapse Analytics feedback
  docs/fundamentals/whats-new.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc, inactive

#1795 Update workspace-admin-settings.md
  docs/data-engineering/workspace-admin-settings.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1708 Fix windows path and condabin
  docs/data-engineering/setup-vs-code-extension.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc, inactive

#1776 Update copilot-faq-fabric.yml
  docs/fundamentals/copilot-faq-fabric.yml
Labels: do-not-merge, ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1775 Update copilot-enable-fabric.md
  docs/fundamentals/copilot-enable-fabric.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1717 Updated variable name in 'Write a new function' section.
  docs/data-engineering/user-data-functions/create-user-data-functions-portal.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1821 Update security-trusted-workspace-access.md
  docs/security/security-trusted-workspace-access.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, event-triaged-to-10AM, missed-content-complete, security/subsvc

#1822 Update AI functions overview.md with library configuration code, limitations, and notes
  docs/data-science/ai-functions/overview.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-science/subsvc

#1837 Update query-acceleration-overview.md
  docs/real-time-intelligence/query-acceleration-overview.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, rti-kusto/subsvc

#1830 Update query-acceleration-overview.md
  docs/real-time-intelligence/query-acceleration-overview.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, rti-kusto/subsvc

#1836 Update whats-new.md
  docs/fundamentals/whats-new.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1759 Update copilot-enable-fabric.md
  docs/fundamentals/copilot-enable-fabric.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc
