Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-03, with the labels that each got.

#1583 Replace "One-hot encode with delimiter" with "Multi-label binarizer"
  docs/data-science/data-wrangler.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc

#1595 Update Real-Time hub: the unification of data streams section
  docs/fundamentals/microsoft-fabric-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1616 Update lakehouse-streaming-data.md
  docs/data-engineering/lakehouse-streaming-data.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#1615 Update lakehouse-and-delta-tables.md
  docs/data-engineering/lakehouse-and-delta-tables.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-engineering/subsvc

#1647 Update feature-usage-adoption.md
  docs/admin/feature-usage-adoption.md
  docs/admin/media/feature-usage-adoption/analysis-drill-through-option.gif
Labels: ready-to-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc

#1661 Update operation-list.md
  docs/admin/operation-list.md
Labels: do-not-merge, ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc, event-triaged-to-10AM, missed-content-complete

#1668 Update troubleshoot-cicd.md
  docs/cicd/troubleshoot-cicd.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, cicd/subsvc, event-triaged-to-10AM, missed-content-complete

#1669 Changed lookup up to delete
  docs/data-factory/delete-data-activity.md
Labels: do-not-merge, ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-factory/subsvc, event-triaged-to-10AM, missed-content-complete
