Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-01, with the labels that each got.

#1421 Update endorsement-promote-certify.md
  docs/get-started/endorsement-promote-certify.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, get-started/subsvc

#1418 Update get-started-api-livy-session.md
  docs/data-engineering/get-started-api-livy-session.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1437 Update region-availability.md
  docs/admin/region-availability.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, admin/subsvc

#1446 Update Operation Name
  docs/enterprise/fabric-operations.md
  docs/real-time-intelligence/real-time-intelligence-consumption.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, rti-kusto/subsvc

#1209 Update notebooks.md to set audience key for token
  docs/real-time-intelligence/notebooks.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, real-time-intelligence/subsvc

#1468 Fabric monitoring doc emitter auth properties are incorrect in doc
  docs/data-engineering/azure-fabric-diagnostic-emitters-azure-storage.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1473 Update copilot-fabric-consumption.md
  docs/get-started/copilot-fabric-consumption.md
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1492 Update feature-usage-adoption.md
  docs/admin/feature-usage-adoption.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc

#1379 Update setup-vs-code-extension.md
  docs/data-engineering/setup-vs-code-extension.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc
