Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-04, with the labels that each got.

#1653 Update "Preview file content" section
  docs/data-engineering/microsoft-spark-utilities.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1568 Updating the decision guide for data processing in Fabric to include eventstreams
  docs/data-factory/transform-data.md
  docs/fundamentals/decision-guide-pipeline-dataflow-spark.md
Labels: do-not-merge, needs-human-review, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc, docs-editor-pilot

#1688 Update query-activity.md
  docs/data-warehouse/query-activity.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-warehouse/subsvc

#1691 Update item-ownership-take-over.md
  docs/fundamentals/item-ownership-take-over.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1702 Update cross-tenant-access.md
  docs/enterprise/cross-tenant-access.md
Labels: ready-to-merge, Change sent to author, fabric/svc, enterprise/subsvc

#1721 Airflow run fabric items patch 1
  docs/data-factory/apache-airflow-jobs-run-fabric-item-job.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-factory/subsvc

#1736 Update migrate-with-migration-assistant.md
  docs/data-warehouse/migrate-with-migration-assistant.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-warehouse/subsvc

#1753 Link question
  docs/fundamentals/copilot-fabric-overview.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1733 Added Spark Autoscale billing as an option for F SKUs only
  docs/enterprise/fabric-features.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#1768 Update fabric-allow-list-urls.md
  docs/security/fabric-allow-list-urls.md
Labels: ready-to-merge, Change sent to author, fabric/svc, security/subsvc

#1763 Update fabric-copilot-capacity.md
  docs/enterprise/fabric-copilot-capacity.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, enterprise/subsvc

#1738 Update how-to-create-a-onelake-shared-access-signature.md
  docs/onelake/how-to-create-a-onelake-shared-access-signature.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#1779 Update portal-workspaces.md
  docs/admin/portal-workspaces.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, admin/subsvc
