Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-06, with the labels that each got.

#1862 Update onelake-catalog-overview.md
  docs/governance/onelake-catalog-overview.md
Labels: do-not-merge, Change sent to author, fabric/svc, governance/subsvc

#1865 Update apache-airflow-jobs-dbt-fabric.md
  docs/data-factory/apache-airflow-jobs-dbt-fabric.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-factory/subsvc

#1872 Update migrate-synapse-data-explorer.md
  docs/real-time-intelligence/migrate-synapse-data-explorer.md
Labels: do-not-merge, Change sent to author, fabric/svc, rti-kusto/subsvc

#1896 Update onelake-shortcuts.md
  docs/onelake/onelake-shortcuts.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#1879 Update onelake-consumption.md for OneLake security RLS
  docs/onelake/onelake-consumption.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#1766 Removed notebook from V-order section
  docs/fundamentals/direct-lake-understand-storage.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1939 Changed Product experience to Data Factory
  docs/known-issues/fabric-known-issues.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc

#1943 Update fabric-data-agent-sdk.md
  docs/data-science/fabric-data-agent-sdk.md
Labels: do-not-merge, Change sent to author, fabric/svc, data-science/subsvc

#1937 Update workspace-customer-managed-keys.md
  docs/security/workspace-customer-managed-keys.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc
