Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-08, with the labels that each got.

#2069 Update pipeline-rest-api-capabilities.md - change jobType from refresh to Pipeline for Pipeline Runs
  docs/data-factory/pipeline-rest-api-capabilities.md
Labels: ready-to-merge, Change sent to author, fabric/svc, data-factory/subsvc

#2070 Update connector-data-warehouse-copy-activity.md
  docs/data-factory/connector-data-warehouse-copy-activity.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-factory/subsvc

#2082 Spelling Error on security-managed-vnets-fabric-overview.md
  docs/security/security-managed-vnets-fabric-overview.md
Labels: do-not-merge, Change sent to author, fabric/svc, security/subsvc

#2092 Update workspace-customer-managed-keys.md
  docs/security/workspace-customer-managed-keys.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#2087 Typo fix eventhouse-compute-observability.md
  docs/real-time-intelligence/eventhouse-compute-observability.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, rti-kusto/subsvc

#2105 Update workspace-customer-managed-keys.md
  docs/security/workspace-customer-managed-keys.md
Labels: do-not-merge, Change sent to author, fabric/svc, security/subsvc

#2088 Update share-items.md
  docs/fundamentals/share-items.md
Labels: ready-to-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc
