Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-07, with the labels that each got.

#1941 Update view-function-logs.md
  docs/data-engineering/user-data-functions/view-function-logs.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#2034 Update optimize-capacity.md
  docs/enterprise/optimize-capacity.md
Labels: do-not-merge, Change sent to author, fabric/svc, enterprise/subsvc

#2040 Update AIFunc Installation Steps
  docs/data-science/ai-functions/overview.md
Labels: do-not-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-science/subsvc
