Repository MicrosoftDocs/fabric-docs, pull requests merged in 2025-02, with the labels that each got.

#1508 Update item-ownership-take-over.md
  docs/fundamentals/item-ownership-take-over.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, get-started/subsvc

#1515 Update activator-trigger-power-automate-flows.md
  docs/real-time-intelligence/data-activator/activator-trigger-power-automate-flows.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, rti-activator/subsvc

#1511 Fixed duplicated text and added an accurate description
  docs/data-warehouse/query-insights.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#1395 Update environment-manage-library.md
  docs/data-engineering/environment-manage-library.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1523 Update activator-limitations.md
  docs/real-time-intelligence/data-activator/activator-limitations.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, fabric/svc, rti-activator/subsvc

#1525 Update item-ownership-take-over.md
  docs/fundamentals/item-ownership-take-over.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, get-started/subsvc

#1520 Update comparison-between-fabric-and-azure-synapse-spark.md
  docs/data-engineering/comparison-between-fabric-and-azure-synapse-spark.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-engineering/subsvc

#1555 Fix Python indentation in onelake-onecopy-quickstart.md
  docs/onelake/onelake-onecopy-quickstart.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, onelake/subsvc

#1570 Fixed typo in security-overview.md
  docs/security/security-overview.md
Labels: ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, security/subsvc

#1579 update links to dbt pages
  docs/data-warehouse/connectivity.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc

#1544 Point dbt tutorial to jaffle-shop-classic instead of jaffle-shop
  docs/data-warehouse/tutorial-setup-dbt.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc, keep-open

#1505 Update tutorial-setup-dbt.md
  docs/data-warehouse/tutorial-setup-dbt.md
Labels: do-not-merge, qualifies-for-auto-merge, aq-pr-triaged, Change sent to author, fabric/svc, data-warehouse/subsvc
